footer {
    box-sizing: border-box;
    @include clearfix;
    text-align: left;
    font-size: 0.875em;
    padding: 2em 0 1em 0;
    background: darken($primaryColor, 5);
    .container {
        @include gutter;
        >div {
            padding-bottom: 1em;
        }
        display: flex;
        @include screen('tablet') {
            flex-wrap: wrap;
        }
    }
    a {
        text-decoration: none;
        color: $primaryColor;
        &:hover,
        &:focus {
            color: darken($primaryColor, 10);
        }
    }
    .footer_logo {
        flex: 0 1 250px;
        margin-right: 20px;
    }
    .footer_info {
        flex: 1 1 auto;
        @include screen('xs_mobile') {
            flex-basis: 100%;
        }
    }
    .footer_icon {
        flex: 0 1 150px;
        text-align: right;
        @include screen('mobile') {
            flex: 1 1 100%;
        }
    }
    // 版權連結
    .footer_link {
        @include li-reset();
        @include clearfix();
        display: flex;
        @include screen('mobile') {
            //flex-direction: column;
            flex-wrap: wrap;
        }
        li {
            position: relative;
            flex: 0 1 auto;
            margin: 0px 1em 5px 0px;
            padding-right: 1em;
            &:before {
                content: "";
                position: absolute;
                right: 0;
                top: calc(50% - 7px);
                height: 14px;
                width: 1px;
                background: #fff;
            }
            &:last-child {
                &:before {
                    content: none;
                }
            }
            // @include screen('xs_mobile') {
            //     flex: 1 1 100%;
            // }
            a {
                display: block;
                color: #FFF;
                text-align: center;
                transition: all .3s ease-out;
                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }
    }
    p {
        line-height: 1.65em;
        color: #fff;
    }
    .update,
    .counter {
        display: inline-block;
        margin-right: 5px;
        color: #fff;
        em {
            font-style: normal;
            color: #fff;
            padding: 0 .5em;
        }
    }
    .footer_icon {
        a {
            display: inline-block;
            vertical-align: top;
            position: relative;
            &:focus {
                &:after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    box-shadow: 0px 0px 0px 1px $aHover inset;
                    z-index: 99;
                }
            }
        }
        img {
            max-width: 120px;
        }
    }
}