//header
.header {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 999;
    transition: 0.3s ease-out;
    @extend %clearfix;
    @include screen('mobile') {
        position: fixed;
        width: 100%;
        height: auto;
    }
    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(../images/main_img_bg3.png), linear-gradient(90deg, #2A3262 0%, #3C99DD 26.06%, #DDEE69 100%);
        background-position: right -178px top 40px, center;
        pointer-events: none;
        background-repeat: no-repeat;
        z-index: -1;
        @include screen('mobile') {
            height: 60px;
            background-position: right top 60px, center;
        }
    }
    // mobile btn for extend
    %mobileCtrlBtn {
        width: 60px !important;
        height: 60px !important;
        position: absolute;
        top: 0px;
        display: block;
        font-size: 0em;
        padding: 15px;
        margin: 0;
        min-width: auto;
        min-height: auto;
        background: transparent;
        border: none;
        box-shadow: none;
        box-sizing: border-box;
        @include screen('mobile') {
            display: block !important;
        }
    }
    >.container {
        max-width: $container-max;
        overflow: visible;
        position: relative; // menu
        background: url(../images/main_img_bg1.png) bottom left 150px no-repeat;
        height: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media screen and (max-width: 1200px) {
            padding: 0 15px;
        }
        @include screen('mobile') {
            background-position: bottom left -20px;
            padding: 0;
        }
        .sidebarCtrl {
            display: none;
            right: 0px;
            @extend %mobileCtrlBtn;
            span {
                position: absolute;
                background: #fff;
                width: 50%;
                height: 3px;
                top: 20px;
                left: 50%;
                margin-left: -25%;
                display: block;
                border-radius: 2px;
                &:nth-child(2) {
                    top: 28px;
                }
                &:nth-child(3) {
                    top: 36px;
                }
            }
        }
        // search
        .searchCtrl {
            display: none;
            right: 0px;
            font-size: 0em;
            @extend %mobileCtrlBtn;
            &:before {
                width: 40px;
                height: 40px;
                background: url(../images/basic/icon_search.png) no-repeat center center;
                background-size: 28px;
                opacity: 0.6;
                content: '';
                position: absolute;
                top: 10px;
                left: 10px;
                display: block;
            }
        }
    }
    h1 {
        float: left;
        width: 300px;
        max-height: 70px;
        margin: 15px 0;
        box-sizing: border-box;
        a {
            display: inline-block;
        }
        img {
            display: block;
            max-width: 300px;
            max-height: 75px;
        }
        @include screen('mobile') {
            //padding: 2px 60px;
            margin: 0;
            width: 100%;
            //text-align: center;
            height: 60px;
            img {
                width: auto;
                height: auto;
                max-height: 54px;
                margin: 0px auto;
                transform: scale(0.8);
            }
        }
    }
    // 導覽列
    .navigation {
        @extend %clearfix;
        box-sizing: border-box;
        display: flex;
        max-width: calc(100% - 300px);
        position: absolute;
        right: 0;
        top: 0;
        @include screen('mobile') {
            display: none;
        }
        .navlist {
            flex: 1 1 auto;
            ul {
                padding: 0;
                margin: 0;
                font-size: 0.938em;
                list-style: none;
                display: flex;
                justify-content: flex-end;
            }
            li {
                position: relative;
                flex: 0 0 auto;
                &:before {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: calc(50% - 8px);
                    display: block;
                    height: 16px;
                    width: 1px;
                    background: $primaryColor;
                }
                &:last-child {
                    &:before {
                        content: none;
                    }
                }
                a {
                    display: block;
                    padding: 0.4em 0.8em;
                    text-decoration: none;
                    @include aSetting;
                }
            }
        }
        // &+h1 {
        //     margin: -10px 0 15px 0;
        //     @include screen('mobile') {
        //         margin: 0;
        //     }
        // }
        // 字級
        .language {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 140px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            align-self: center;
        }
    }
    .memberBlock {
        display: flex;
        position: absolute;
        right: 10px;
        top: calc(50% - 10px);
        @include screen('mobile') {
            display: none;
        }
        .memberBtn {
            font-size: 1em;
            background: $secondaryColor;
            height: 2.6em;
            color: #fff;
            margin: 0;
            &:before {
                background: url(../images/basic/icon_account.svg) no-repeat center;
                background-size: contain;
            }
            &:after {
                border-color: #fff;
            }
        }
        .memberContent {
            margin-top: 3px;
            position: absolute;
            top: 100%;
            width: 100%;
            ul {
                @include li-reset;
                border-radius: 0.25em;
                background: #fff;
                border: 1px solid $color-lightgray;
                box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
                min-width: 100%;
            }
            li {
                text-align: center;
                border-bottom: 1px solid $color-lightgray;
                &:last-of-type {
                    border-bottom: none;
                }
                a {
                    display: block;
                    padding: .5em 1em;
                    @include aSetting_nocolor;
                    &:hover {
                        background: $color-bg;
                    }
                }
            }
        }
    }
}

.collectBtn,
.memberBtn,
.postEventBtn {
    border: none;
    padding: .5em 1em;
    display: flex;
    align-items: center;
    margin: 0 0 0 .5em;
    border-radius: 0.2em;
    @media screen and (max-width: 1200px) {
        right: 15px;
    }
    @include screen('mobile') {
        display: none;
    }
    &:before {
        content: "";
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        margin-right: .4em;
    }
}

.collectBtn {
    // position: absolute;
    // right: 10px;
    // bottom: 15px;
    background: rgba($linkColor, .3);
    font-size: .938em;
    color: $primaryColor;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    &:hover {
        background: $primaryColor;
        color: #fff;
    }
    &:before {
        background: url(../images/basic/icon_star_active.svg) no-repeat center;
        background-size: contain;
    }
    .amount {
        font-family: 'Century Gothic';
    }
}

.postEventBtn {
    background: $secondaryColor;
    color: #fff;
    &:hover {
        background: $primaryColor;
        color: #fff;
    }
    &:before {
        background: url(../images/basic/icon_star_active.svg) no-repeat center;
        background-size: contain;
    }
}

//search
// .search {
//     display: flex;
//     justify-content: flex-end;
//     flex-wrap: wrap;
//     vertical-align: top;
//     font-size: 0.938em;
//     margin: 1em 0.5em;
//     box-sizing: border-box;
//     @include screen('mobile') {
//         display: none;
//     }
//     label {
//         font-size: 0em;
//     }
//     .form_grp {
//         flex: 0 0 auto;
//         margin: 0;
//         input {
//             margin: 0 0 0 0.5em;
//             padding: 0.25em 0.5em;
//             box-shadow: none;
//             width: auto;
//             &[type='submit'] {
//                 min-width: auto;
//                 padding: 0.2em 0.8em;
//             }
//             &:focus {
//                 box-shadow: 0 0px 0px 2px $aFocus;
//             }
//         }
//         button,
//         .btn,
//         .btn-search {
//             min-width: auto;
//             padding: 0.2em 0.8em;
//             margin: 0;
//             &:hover,
//             &:focus {
//                 box-shadow: none !important;
//             }
//         }
//     }
//     .btn_grp {
//         flex: 0 0 auto;
//         padding: 0 0.5em 0;
//         margin: 0;
//         button,
//         .btn,
//         .btn-search {
//             min-width: auto;
//             padding: 0.2em 0.8em;
//             margin: 0;
//             &:hover,
//             &:focus {
//                 box-shadow: none !important;
//             }
//         }
//     }
//     .keywordHot {
//         flex: 1 1 100%;
//         ul {
//             font-size: 0.813em;
//             line-height: 1.65em;
//             margin: 0;
//             padding: 0;
//             display: flex;
//             justify-content: flex-end;
//             list-style-type: none;
//             &:before {}
//             li {
//                 margin: 0;
//                 padding: 0.5em;
//                 flex: 0 0 auto;
//             }
//             a {
//                 @include aSetting_nocolor;
//             }
//         }
//     }
// }
// m_search
// .m_search {
//     width: 100% !important;
//     max-width: 100% !important;
//     min-width: auto;
//     padding: 0.8em 0.3em;
//     display: block;
//     height: auto;
//     position: fixed;
//     top: 60px;
//     left: 0;
//     z-index: 98;
//     background: #333;
//     display: none;
//     margin: 0;
//     label {
//         font-size: 0em;
//         line-height: 0;
//     }
//     .form_grp {
//         display: flex;
//         align-items: center;
//         label {
//             display: none;
//             flex: 0 0 0%;
//         }
//         input {
//             margin: 0.5em;
//             padding: 0.5em;
//             flex: 1 1 50%;
//             max-width: 70%;
//             &[type='submit'] {
//                 flex: 0 1 15%;
//                 margin: 0.5em;
//             }
//         }
//         .btn,
//         .btn-search {
//             min-width: auto;
//             padding: 0.5em 0.8em;
//             margin: 0;
//             flex: 1 1 20%;
//             max-width: 25%;
//             &:hover,
//             &:focus {
//                 box-shadow: none !important;
//             }
//         }
//     }
//     .btn_grp {
//         flex: 1 1 auto;
//         padding: 0.25em 0.5em;
//         border-bottom: solid 1px #444;
//         box-sizing: border-box;
//         text-align: right;
//         .btn {
//             width: auto !important;
//             padding: 0.2em 0.5em !important;
//             margin: 0;
//             background: transparent;
//             font-size: 0.875rem;
//             color: #ddd;
//             border: none;
//             &:hover,
//             &:focus {
//                 color: lighten($aHover, 10);
//             }
//         }
//     }
//     .keywordHot {
//         flex: 1 1 100%;
//         ul {
//             font-size: 0.875em;
//             line-height: 1.65em;
//             margin: 0;
//             padding: 0.5em 0 0 0.5em;
//             display: flex;
//             justify-content: flex-start;
//             list-style-type: none;
//             &:before {}
//             li {
//                 margin: 0;
//                 padding: 0.5em;
//                 flex: 0 0 auto;
//             }
//             a {
//                 color: #fff;
//                 &:hover,
//                 &:focus {
//                     color: lighten($aHover, 10);
//                 }
//             }
//         }
//     }
// }
// header fix
// .header.fixed {
//     position: fixed;
//     width: 100%;
//     right: 0;
//     top: 0;
//     box-shadow: rgba(0, 0, 0, 0.5) 0 0 25px;
//     background: rgba(0, 0, 0, 0.75);
//     z-index: 999;
//     &:before {
//         background: rgba(0, 0, 0, 0.35);
//     }
//     @include screen('mobile') {
//         background: #fff;
//     }
//     .menu {
//         > ul {
//             > li {
//                 > a {
//                     color: #fff;
//                 }
//             }
//         }
//     }
//     .megamenu {
//         > ul {
//             > li {
//                 > a {
//                     color: #fff;
//                 }
//             }
//         }
//     }
// }