.pagination {
    margin: .5em auto;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 1rem;
    box-sizing: border-box;

    @extend %clearfix; // outline: 1px solid red;
    .form_inline{
        justify-content: center;
    }
    span {
        color: $primaryColor;
        margin: 0 .5em;
    }
    em{
        font-weight: bold; font-style: normal; color: $primaryColor;
        display: inline-block; margin: 0 3px;
    }
    .page {
        display: flex;
        margin: 10px auto; padding: 0;
        justify-content:center; list-style: none;
        flex-wrap:wrap; line-height: 1.2;
        li { flex:0 0 auto; margin: 4px; padding: 0;
            a { display: block;  padding: 0;white-space: nowrap;
                min-width: 2.4em; height: 2.4em; line-height: 2.4; 
                font-weight: bold;color: $color-word;
                border-radius: 2em; transition: .2s;
                &:hover,
                &:focus {
                    box-shadow: $primaryColor 0 0 0 1px inset;
                }
            }
            &.active {
                a { color: #fff ;background: $primaryColor;
                    &:hover, &:focus  {
                        box-shadow: $primaryColor 0 0 0 2px, #fff 0 0 0 1px inset ;
                    }
                }
            }
            %arrow {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 6px;
                height: 6px;
                margin-top: -4px;
                border: 2px solid #666;
                border-left: none;
                border-bottom: none;
            }
            &.first, &.prev, &.next, &.last {
                a {
                    text-indent: -9999px;
                    position: relative; background: #fff;
                    box-shadow: rgba(0,0,0,.3) 0 2px 2px;
                    &:hover, &:focus {
                        background-color: $primaryColor;
                        box-shadow: none;
                        &:before, &:after {
                            border-color: #fff;
                        }
                    }
                }
            }
            &.first {
                a:before {
                    @extend %arrow;
                    margin-left: -6px;
                    transform: rotate(-135deg);
                }
                a:after {
                    @extend %arrow;
                    margin-left: 0px;
                    transform: rotate(-135deg);
                }
            }
            &.prev {
                a:before {
                    @extend %arrow;
                    margin-left: -2px;
                    transform: rotate(-135deg);
                }
            }
            &.next {
                a:before {
                    @extend %arrow;
                    margin-left: -6px;
                    transform: rotate(45deg);
                }
            }
            &.last {
                a:before {
                    @extend %arrow;
                    margin-left: -3px;
                    transform: rotate(45deg);
                }
                a:after {
                    @extend %arrow;
                    margin-left: -9px;
                    transform: rotate(45deg);
                }
            }
        }
    }
    .total {
        padding: 0em;
        display: inline-block;
        vertical-align: middle;
        select {
            margin: 0px .5em;
            @include screen('mobile') {
                margin: 0px;
            }
        }
        .btn{
            min-width: auto;
            padding: .4em 1em !important;
        }
        // input[type="button"] {
        //     @include gradient(#F7F7F7, #EAEAEA, vertical);
        //     border: 1px solid #CCC;
        //     color: #222;
        //     padding: .4em 1em !important;
        //     min-width: 3em;
        //     display: inline-block;
        //     vertical-align: middle;
        //     box-shadow: none;
        //     text-shadow: none;
        //     &:hover, &:focus {
        //         color: #fff !important;
        //         background: $form-focus;
        //         border: darken($form-focus, 5) solid 1px;
        //         box-shadow: none !important;
        //     }
        // }
    }
    .items {
        display: inline-block;
        vertical-align: middle;
        
        a {
            padding: 0 5px;
            color: $primaryColor;
            text-decoration: none;
        }

        ul{ list-style: none; margin: 0; padding: 0;display: inline; 
            line-height: 1;
            li{ display: inline-block; margin: 0 1px; padding: 0;font-weight: bold;
                a{display: block; padding:2px 4px; border-radius: 3px;
                    &:hover, &:focus{outline: none;box-shadow: $primaryColor 0 0 0 1px inset; }
                }
                &.active{
                    a{background-color: $primaryColor; color: #fff;
                        &:hover, &:focus{box-shadow: $primaryColor 0 0 0 2px;}
                    }
                }
            }
        }
    }
}
@include screen('mobile') {
    .pagination .total select.form-control {
        margin: 0;
        text-align: center;
    }
}