@charset "utf-8";
// 文章標題
h1.title,
h2.title {
    line-height: 1.25em;
    margin: .4em 0;
}

// .tt{ color: #222; }
.cp {
    background-color: #fff;
    .title_h3 {
        border-bottom: 1px solid rgba($primaryColor, .4);
        font-size: 1.375em;
        color: $color-word2;
        padding-bottom: .5em;
        margin: 1.5em 0;
    }
    .center_block {
        .pic {
            float: left;
            margin: 0px 1em 1em 0;
            width: auto;
            width: 45%;
            max-width: 400px;
            background: #F1F1F1;
            overflow: hidden;
            padding: .5em .5em .2em;
            img {
                float: none;
                width: 100%;
                margin: 0;
                display: block;
            }
            span {
                text-align: center;
                display: block;
                font-size: .938em;
            }
            @include screen('mobile') {
                float: none;
                max-width: 100%;
                width: auto;
                margin: 0px auto;
                display: block;
                margin-bottom: .5em;
            }
        }
        table {
            background: #FFF;
        }
        img {
            &.float_left {
                float: left;
                margin: 0px 1em 1em 0;
                width: auto;
                max-width: 55%;
                @include screen('mobile') {
                    float: none;
                    max-width: 100%;
                    margin: 0px auto;
                }
            }
            &.float_right {
                float: right;
                margin: 0px 0 1em 1em;
                width: auto;
                max-width: 55%;
                @include screen('mobile') {
                    float: none;
                    max-width: 100%;
                    margin: 0px auto;
                }
            }
        }
        a {
            @include aSetting;
        }
    }
}

//活動資訊+function_panel 外框
.functionBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

//活動資訊
.activity_infoBar {
    display: flex;
    align-items: center;
}

.activity_position {
    position: relative;
    margin-right: .5em;
    padding-left: 22px;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 1px;
        width: 20px;
        height: 20px;
        background: url(../images/basic/icon_map-pin.svg) center no-repeat;
        background-size: 20px;
    }
}

.activity_title {
    font-size: 1.875em;
    color: $color-dark;
    font-weight: bold;
    margin-bottom: 1em;
    line-height: 1.45em;
    @include screen('mobile') {
        clear: both;
    }
}

//活動資訊
.activity_infoList {
    ul {
        @include li-reset;
    }
    li {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 2em;
        @include screen('mobile') {
            flex-wrap: wrap;
        }
        .heading {
            position: relative;
            padding-left: 25px;
            flex: 0 0 180px;
            margin-right: 10px;
            @include screen('mobile') {
                flex-basis: 100%;
                color: $primaryColor;
            }
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 5px;
                width: 18px;
                height: 18px;
                background: url(../images/basic/icon_info_2.svg) center no-repeat;
                background-size: 18px;
            }
        }
        .content {
            @include screen('mobile') {
                padding-left: 25px;
            }
        }
    }
}

.activity_infoBlock {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 4px 1px inset;
    border-radius: 10px;
    background: #FEFFFC;
    padding: 2em;
    margin-bottom: 20px;
    @include screen('xs_mobile') {
        padding: 1em;
    }
    .title_h4 {
        font-size: 1.125em;
        color: $color-word2;
        margin-bottom: 2em;
    }
    //關於此活動
    .about {
        ul {
            @include li-reset;
            display: flex;
            flex-wrap: wrap;
        }
        li {
            flex-basis: 50%;
            display: flex;
            align-items: center;
            margin-bottom: 1em;
            border-right: 1px solid rgba($primaryColor, .2);
            &:nth-of-type(2n+2) {
                border-right: 0;
            }
            @include screen('mobile') {
                flex-basis: 100%;
                border-right: 0;
            }
            img {
                height: 50px;
                margin: 0 30px;
                @include screen('mobile') {
                    margin: 0 15px;
                }
            }
        }
    }
    .lecturer {
        ul {
            @include li-reset;
        }
        li {
            display: flex;
            margin-bottom: 1em;
        }
        .lecturer_photo {
            flex: 0 0 86px;
            width: 86px;
            height: 86px;
            border-radius: 50%;
            overflow: hidden;
            background: #fff;
            margin: 0 30px;
            @include screen('mobile') {
                margin: 0 15px 0 0;
            }
            img {
                height: 86px;
                width: auto;
                object-fit: cover;
            }
        }
        .lecturer_profile {}
        .lecturer_name {
            font-size: 1.5em;
            font-weight: bold;
        }
        .lecturer_title {
            font-size: 1.125em;
            font-weight: bold;
        }
        .lecturer_units {
            font-size: 1.125em;
            font-weight: bold;
        }
        .lecturer_intro {
            margin-top: 1em;
        }
    }
}

// 檔案下載
.file_download {
    width: 100%;
    margin: 0 auto;
    @include clearfix();
    h3 {
        font-size: 1.5em;
        padding: 12px 0px 15px 0px;
        margin: 0.5em 0px 0.2em;
        border-bottom: 1px solid $primaryColor;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        counter-reset: num;
    }
    li {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        padding: 1em;
        border-radius: 4px;
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 3px -2px;
        margin-bottom: 1em;
        @include screen('mobile') {
            flex-direction: column;
            padding: .5em;
        }
        //border-bottom: solid 1px #eee;
        // &:before {
        //     //content: '·';
        //     counter-increment: num;
        //     content: counters(num, ".") ".";
        //     font-size: 1em;
        //     //font-weight: bold;
        //     // width: 1em;
        //     // height: 1em;
        //     position: absolute;
        //     top: .5em;
        //     left: .1em;
        //     color: #666;
        // }
        .file_name {
            line-height: 1.8em;
            margin: 0 1em 0 .5em;
            color: $color-word;
            // ~span {
            //     flex: 0 0 auto;
            //     margin: .2em;
            //     font-size: .875em;
            //     line-height: 1.5em;
            //     vertical-align: middle;
            //     color: #666;
            //     a {
            //         color: #fff;
            //         display: inline-block;
            //         margin-right: 8px;
            //     }
            // }
        }
        .file_type {
            color: #fff;
            display: block;
            font-size: .8125em;
            color: #fff;
            font-weight: bold;
            padding: .2em .8em;
            border-radius: 3px;
            flex: 0 0 auto;
            line-height: 1.8em;
            &:hover,
            &:focus {
                color: #fff;
            }
        }
        .file_size {
            color: lighten($color-word, 15);
        }
        // $fileType: doc,
        // docx,
        // odt,
        // xls,
        // xlsx,
        // csv,
        // ods,
        // ppt,
        // pptx,
        // odp,
        // zip,
        // txt,
        // mov,
        // mp3,
        // jpg,
        // wmv,
        // mp4,
        // pdf,
        // other;
        // @each $fileType in $fileType {
        //     .file_#{$fileType} {
        //         .file_type {}
        //     }
        // }
        a {
            display: flex;
            align-items: flex-start;
            text-decoration: none !important;
            @include screen('mobile') {
                flex-direction: column;
            }
            .file_size {
                color: lighten($color-word, 15);
            }
            ;
            &:hover,
            &:focus {
                .file_name {
                    color: $aColor;
                }
            }
            &.file_doc,
            &.file_docx,
            &.file_odt {
                .file_type {
                    background: #275cb7;
                }
                &:hover,
                &:focus {
                    .file_type {
                        background: darken(#275cb7, 5%);
                    }
                }
            }
            &.file_xls,
            &.file_xlsx,
            &.file_csv,
            &.file_ods {
                .file_type {
                    background: #387947;
                }
                &:hover,
                &:focus {
                    .file_type {
                        background: darken(#387947, 5%);
                    }
                }
            }
            &.file_ppt,
            &.file_pptx,
            &.file_odp,
            &.file_pdf {
                .file_type {
                    background: #c55a3b;
                }
                &:hover,
                &:focus {
                    .file_type {
                        background: darken(#c55a3b, 5%);
                    }
                }
            }
            &.file_pdf {
                .file_type {
                    background: #c00;
                }
                &:hover,
                &:focus {
                    .file_type {
                        background: darken(#c00, 5%);
                    }
                }
            }
            &.file_zip {
                .file_type {
                    background: #eb712e;
                }
                &:hover,
                &:focus {
                    .file_type {
                        background: darken(#eb712e, 5%);
                    }
                }
            }
            &.file_txt,
            &.file_other {
                .file_type {
                    background: #555;
                }
                &:hover,
                &:focus {
                    .file_type {
                        background: darken(#555, 5%);
                    }
                }
            }
            &.file_mov {
                .file_type {
                    background: #009999;
                }
                &:hover,
                &:focus {
                    .file_type {
                        background: darken(#009999, 5%);
                    }
                }
            }
            &.file_mp3,
            &.file_mp4 {
                .file_type {
                    background: #088ecc;
                }
                &:hover,
                &:focus {
                    .file_type {
                        background: darken(#088ecc, 5%);
                    }
                }
            }
            &.file_jpg {
                .file_type {
                    background: #6c29a4;
                }
                &:hover,
                &:focus {
                    .file_type {
                        background: darken(#6c29a4, 5%);
                    }
                }
            }
            &.file_wmv {
                .file_type {
                    background: #430a1f;
                }
                &:hover,
                &:focus {
                    .file_type {
                        background: darken(#430a1f, 5%);
                    }
                }
            }
        }
    }
}

// 外部連結
.web_link {
    margin: 1em 0;
    @extend %clearfix;
    h3 {
        font-size: 1.5em;
        padding: 12px 0px 15px 0px;
        margin: 0.5em 0px 0.2em;
        border-bottom: 1px solid $primaryColor;
    }
    ol,
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li {
        position: relative;
        padding: .5em 0;
        border-bottom: solid 1px #eee;
        padding-left: 1.5em;
        &:before {
            content: '·';
            font-size: 2em;
            font-weight: bold;
            width: 1em;
            height: 1em;
            position: absolute;
            top: .35em;
            left: .1em;
            color: #666;
        }
        a {
            padding: .2em 0px;
            display: block;
            @include aSetting_nocolor;
        }
    }
}

.publish_info {
    font-size: 0.875em;
    line-height: 1.5em;
    list-style: none;
    margin: 0 0 .7em 0;
    border-left: solid 5px $primaryColor;
    padding: 0.8em 1.5em 0.8em;
    background: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    @extend %clearfix;
    box-sizing: border-box;
    li {
        flex: 1 1 calc(100% / 3);
        margin-bottom: .5em;
        @include screen('tablet') {
            flex: 1 1 calc(100% / 2);
        }
        @include screen('mobile') {
            flex: 1 1 calc(100% / 1);
        }
    }
}

//cp 右欄卡片
.activity_infoCard {
    border-radius: 10px;
    padding: 1.5em 1.6em;
    margin-bottom: 20px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.05), inset 1px 2px 4px rgba(0, 0, 0, 0.1);
    .btn-signup,
    .btn-gotoSignup,
    .btn-disabled {
        width: 100%;
        margin: .8em 0;
        font-size: 1.125em;
        font-weight: bold;
    }
    .cost {
        color: $primaryColor;
        font-size: 2em;
        font-weight: bold;
        margin: .25em 0 1.25em 0;
    }
    .countdown {
        font-size: 1.125em;
        color: $color-word2;
        em {
            font-style: normal;
            font-size: 1.5em;
            font-weight: bold;
            color: darken($primaryColor, 5);
            padding: 0 5px;
        }
    }
    .deadline {
        color: lighten($color-word, 10);
        font-size: .938em;
    }
    .cancel {
        font-size: .938em;
        color: $color-word2;
        >a {
            text-decoration: underline;
        }
    }
    .otherInfo {
        @include li-reset;
        border-top: 1px solid rgba($primaryColor, .3);
        padding-top: .5em;
        margin-top: .5em;
        li {
            position: relative;
            font-weight: bold;
            color: lighten($color-word, 10);
            padding-left: 30px;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: calc(50% - 12px);
                display: block;
                width: 24px;
                height: 24px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &.people {
                &:before {
                    content: "";
                    background: url(../images/basic/icon_people.svg) center no-repeat;
                    background-size: 24px;
                }
            }
            &.hours {
                &:before {
                    content: "";
                    background: url(../images/basic/icon_clock.svg) center no-repeat;
                    background-size: 24px;
                }
            }
            em {
                font-style: normal;
                color: darken($primaryColor, 5);
            }
        }
    }
}

.activity_quotaCard {
    background: #FEFFFC;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.05), inset 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: .5em 0;
    margin-bottom: 20px;
    ul {
        @include li-reset;
        display: flex;
        flex-wrap: wrap;
    }
    li {
        flex-basis: 50%;
        text-align: center;
        margin: .5em 0;
        padding: .5em 0;
        &:nth-of-type(2n+1) {
            border-right: 1px solid rgba($primaryColor, .3);
        }
    }
    .quota,
    .remaining {
        font-size: 2.5em;
        font-weight: bold;
        margin: .25em .5em;
    }
    .quota {
        color: darken($primaryColor, 5);
    }
    .remaining {
        color: $secondaryColor;
    }
}