/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定
// more按鈕
a.more {
    display: block;
    width: 10em;
    text-align: center;
    height: 2.5em;
    margin: .5em auto .5em;
    line-height: 2.5;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    &:after {
        content: "";
        width: 12px;
        height: 12px;
        border: 2px solid #FFF;
        transform: rotate(45deg);
        position: absolute;
        right: -10px;
        top: 14px;
        border-left: none;
        border-bottom: none;
        transition: .3s ease-out;
    }
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $primaryColor;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover,
    &:focus,
    &.active {
        color: white;
        &:before {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        &:after {
            right: 15px;
        }
    }
}

.master_vision {
    position: relative;
    overflow: hidden;
    background: url(../images/main_img_left1.png), url(../images/main_img_bg2.png), url(../images/main_img_bg3.png), linear-gradient(180deg, rgba(255, 255, 255, 0) 68%, rgba(255, 255, 255, 0.19) 100%), linear-gradient(90deg, #2A3262 0%, #3C99DD 26.06%, #DDEE69 100%);
    background-position: bottom -2px left calc((100% - 950px) / 2), left -50px center, right -180px top -63px, left, center, right;
    background-repeat: no-repeat;
    //background-size: 380px, 520px, 520px, 624px, 732px, 100%;
    text-align: center;
    padding: 3em 0;
    @media screen and (max-width: 1399px) {}
    @include screen('mobile') {
        padding-top: 2em;
        background-position: bottom -2px left calc((100% - 900px) / 2), left -50px bottom -50px, right -400px top 80px, left, center, right;
    }
    &:after {
        content: "";
        position: absolute;
        right: calc((100% - 1300px) / 2);
        bottom: 0;
        display: block;
        width: 520px;
        height: 400px;
        background: url(../images/main_img_right1.png) no-repeat;
    }
    &:before {
        content: "";
        position: absolute;
        left: calc(50% + 450px);
        bottom: -35px;
        display: block;
        width: 260px;
        height: 260px;
        animation: spin 2s linear 2, rollMove 4s ease-in-out;
        background: url(../images/main_img_move1.png) no-repeat;
        background-size: 260px;
    }
    .title_img {
        width: 470px;
        max-width: 95%;
        height: auto;
        margin-bottom: 1em;
    }
    .text {
        color: #fff;
        font-size: 1.125em;
        line-height: 1.5em;
        margin-bottom: 1em;
        @include screen('mobile') {
            display: none;
        }
    }
    .img_move {
        position: absolute;
        &:first-child {
            top: 50px;
            left: calc((100% - 1100px) / 2);
        }
        &:nth-child(2) {
            top: 60px;
            left: calc((100% - 820px) / 2);
        }
        &:nth-child(3) {
            top: 0;
            right: calc((100% - 1200px) / 2);
        }
    }
}

.searchBlock {
    position: relative;
    z-index: 2;
    max-width: 700px;
    margin: 0 auto;
    padding: 1.5em 2em;
    border-radius: $rounded-angle;
    background: rgba(255, 255, 255, .9);
    box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.19), inset 1px 2px 7px rgba(0, 0, 0, 0.1);
    @include screen('mobile') {
        padding: 1.5em 1em;
    }
    .search {
        display: flex;
        @include screen('mobile') {
            flex-wrap: wrap;
            justify-content: center;
        }
        .form_grp {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            @include screen('mobile') {
                flex-basis: 100%;
            }
        }
        .btn-fliterSlideDown {
            display: none;
            @include screen('mobile') {
                display: block;
            }
        }
        .btn_grp {
            padding: 0;
            @include screen('mobile') {
                margin-top: 10px;
            }
        }
        input[type="text"] {
            box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.19);
            border-color: #fff;
            margin: 0 .25em;
            &:focus {
                box-shadow: 0px 0px 0px 2px $form-focus, 1px 2px 2px -1px rgba(0, 0, 0, 0.19);
            }
        }
        .btn-search {
            margin: 0 .25em;
        }
    }
}

.search_filter {
    margin: 1em 0 0 0;
    @include screen('mobile') {
        display: none;
    }
    .filter_title {
        font-weight: bold;
        margin-bottom: 1em;
        @include screen('mobile') {
            display: none;
        }
    }
    ul {
        @include li-reset;
        display: flex;
        flex-wrap: wrap;
    }
    li {
        margin: .15em;
        a {
            display: block;
            //color: $color-word;
            @include aSetting_nocolor;
            padding: .1em 1.15em;
            border-radius: 4px;
            border: 0.5px solid rgba(87, 90, 109, 0.6);
            font-size: .938em;
            transition: .2s ease-in;
            &:hover {
                background-color: $color-bg;
                //color: #fff;
            }
        }
    }
}

.filter_btnGrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em 0;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rollMove {
    0% {
        left: calc((100% - 900px) / 2);
    }
    100% {
        left: calc(50% + 450px);
    }
}