//新增活動表單
.apply_form {
    padding-bottom: 1.5rem;
    .btn-add {
        float: right;
    }
    .btn_grp {
        .btn-del {
            border-color: $color-red;
            background: $color-red;
            color: #fff;
            @include hyui_icon('icon_trash2');
            letter-spacing: .05em;
            &:hover,
            &:focus {
                background: darken($color-red, 5);
            }
        }
    }
}

.sp_addEvent {
    .operateGroup {
        text-align: right;
        margin-bottom: 1.5rem;
    }
}

.operateGroup {
    .btn {
        transition: .2s;
    }
    &.sticky {
        position: fixed;
        right: calc((100% - 1200px) / 2);
        top: 110px;
        z-index: 99;
        @media screen and (max-width: 1200px) {
            right: 15px;
        }
        @include screen('mobile') {
            top: 70px;
        }
        .btn {
            box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
        }
    }
}

.hasSaved {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: calc(50% - 100px);
    width: 180px;
    padding: .5em;
    text-align: center;
    color: $secondaryColor;
    background: rgba(255, 255, 255, .6);
    span {
        display: inline-block;
        white-space: nowrap;
        padding-left: 28px;
        background: url(../images/basic/icon_doublechecked.svg) left center no-repeat;
        background-size: 24px;
    }
}

.btn.view,
.btn.save,
.btn.nextStep,
.btn.back {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    line-height: 40px;
    padding: 0 1.5em 0 2.8em;
    margin: .25em;
    // border: 1px solid #ccc;
    color: #444;
    border-radius: .2em;
    transition: all .5s;
    position: relative;
    background: #e0e0e0;
    text-decoration: none!important;
    color: $primaryColor;
    &:before {
        content: "";
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: 1em;
        top: calc(50% - 10px);
    }
    &:hover {
        background: $primaryColor;
        border-color: $primaryColor;
        color: #fff;
    }
}

.btn.view {
    &:before {
        background: url(../images/icon/icon_view2.svg) no-repeat center;
        background-size: contain;
    }
    &:hover {
        &:before {
            background-image: url(../images/icon/icon_view.svg);
        }
    }
}

.btn.save {
    &::before {
        background: url(../images/icon/icon_save.svg) no-repeat center;
        background-size: contain;
    }
    &:hover {
        &:before {
            background-image: url(../images/icon/icon_save2.svg);
        }
    }
}

.btn.back {
    &::before {
        background: url(../images/icon/icon_back.svg) no-repeat center;
        background-size: contain;
    }
    &:hover {
        &:before {
            background-image: url(../images/icon/icon_back2.svg);
        }
    }
}

.btn.nextStep {
    color: #fff;
    border-color: #3269A2;
    background: linear-gradient(180deg, #3269A2 0%, #043460 100%);
    &::before {
        background: url(../images/basic/icon_magic.svg) no-repeat 0 0;
        background-size: contain;
    }
    &:hover {
        background: linear-gradient(180deg, #043460 0%, #043460 100%);
    }
}

.editBtn_grp {
    margin-bottom: 1rem;
    a.btn {
        display: inline-block;
        transition: .2s ease-in;
        &:hover {
            background-color: $primaryColor;
            color: #fff;
        }
        &.active {
            color: #fff;
            padding-right: 2.5em;
            background: $primaryColor url(../images/icon_edit_w.png) right 1em center no-repeat;
            background-size: 14px;
        }
    }
}

.formGroup {
    position: relative;
    .btn-add {
        float: none;
        position: absolute;
        top: 1em;
        right: 1em;
    }
    .file_download {
        margin-top: 10px;
        li {
            align-items: center;
            >a {
                &[class*="file_"] {
                    flex-grow: 1;
                    align-items: center;
                }
            }
        }
    }
}

.photoBlock {
    position: relative;
    min-height: 230px;
    width: calc(100% - .6em);
    border-radius: 4px;
    border: 1px solid $color-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: .2s;
    padding: .25em;
    margin: .3em;
    // &:hover {
    //     .edit_grp {
    //         display: flex;
    //     }
    // }
    .edit_grp {
        flex-direction: column;
        .btn {
            padding: .5em .5em .5em 2em;
            &:before {
                left: .5em;
            }
        }
    }
    .lecturer_photo {
        overflow: hidden;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: $color-gray url(../images/lecturer_photoBg.png) center no-repeat;
        text-align: center;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.drag_area {
    position: fixed;
    z-index: 9999;
    top: 25%;
    right: -400px;
    padding: 1em 1.5em .5em 1.5em;
    background: $primaryColor;
    background-size: 70px;
    font-size: 1.25em;
    font-weight: bold;
    max-width: 400px;
    color: #fff;
    line-height: 1.5em;
    transition: .3s;
    box-shadow: -1px 2px 5px rgba(0, 0, 0, .3);
    &.show {
        right: 0;
    }
    .show_area {
        writing-mode: horizontal-tb;
        position: absolute;
        width: 50px;
        height: auto;
        top: 0;
        left: -50px;
        background: $primaryColor;
        color: #fff;
        border-radius: 8px 0 0 8px;
        margin: 0;
        border: none;
        padding: 1em .6em;
        font-size: 1.125rem;
        line-height: 1.5rem;
        box-shadow: -1px 6px 5px -5px rgba(0, 0, 0, .3);
    }
    .drag_items {
        margin-top: 1em;
        ul {
            @include li-reset;
            display: flex;
            flex-wrap: wrap;
            margin: 0 -.5em;
        }
        li {
            flex-basis: 33.33333%;
            margin-bottom: 1em;
            a {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                justify-content: center;
                height: 100px;
                border-radius: 10px;
                background: #fff;
                color: $color-word;
                padding: .6em;
                font-size: 1rem;
                font-weight: normal;
                margin: 0 .5em;
                cursor: move;
                transition: .2s;
                &:hover,
                &:focus {
                    color: $aHover;
                    transform: translateY(-1px);
                    box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
                }
                >span {
                    display: block;
                    width: 100%;
                    text-align: center;
                    align-self: flex-end;
                }
                img {
                    max-height: 50px;
                }
            }
        }
    }
}