//新增活動表單
.apply_form {
    padding-bottom: 1.5rem;
    .btn-add {
        float: right;
    }
    .btn_grp {
        .btn-del {
            border-color: $color-red;
            background: $color-red;
            color: #fff;
            @include hyui_icon('icon_trash2');
            letter-spacing: .05em;
            &:hover,
            &:focus {
                background: darken($color-red, 5);
            }
        }
    }
}

.sp_addEvent {
    .operateGroup {
        text-align: right;
        margin-bottom: 1em;
    }
}

.hasSaved {
    text-align: center;
    color: $secondaryColor;
    span {
        display: inline-block;
        white-space: nowrap;
        padding-left: 28px;
        background: url(../images/basic/icon_doublechecked.svg) left center no-repeat;
        background-size: 24px;
    }
}

.btn.view,
.btn.save,
.btn.nextStep {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    line-height: 40px;
    padding: 0 1.5em 0 2.8em;
    margin: .3em 0em .3em .5em;
    // border: 1px solid #ccc;
    color: #444;
    border-radius: .2em;
    transition: all .5s;
    position: relative;
    background: #e0e0e0;
    text-decoration: none!important;
    color: $primaryColor;
    &:before {
        content: "";
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: 1em;
        top: calc(50% - 10px);
    }
    &:hover {
        background: $primaryColor;
        // border: 1px solid #222;
        color: #fff;
    }
}

.btn.view {
    &:before {
        background: url(../images/icon/icon_view2.svg) no-repeat 0 0;
        background-size: contain;
    }
    &:hover {
        &:before {
            background-image: url(../images/icon/icon_view.svg);
        }
    }
}

.btn.save {
    &::before {
        background: url(../images/icon/icon_save.svg) no-repeat 0 0;
        background-size: contain;
    }
    &:hover {
        &:before {
            background-image: url(../images/icon/icon_save2.svg);
        }
    }
}

.btn.nextStep {
    color: #fff;
    background: linear-gradient(180deg, #3269A2 0%, #043460 100%);
    &::before {
        background: url(../images/basic/icon_magic.svg) no-repeat 0 0;
        background-size: contain;
    }
    &:hover {
        background: linear-gradient(180deg, #043460 0%, #043460 100%);
    }
}

.editBtn_grp {
    margin-bottom: 1rem;
    a.btn {
        display: inline-block;
        transition: .2s ease-in;
        &:hover {
            background-color: $primaryColor;
            color: #fff;
        }
        &.active {
            color: #fff;
            padding-right: 2.5em;
            background: $primaryColor url(../images/icon_edit_w.png) right 1em center no-repeat;
            background-size: 14px;
        }
    }
}

.formGroup {
    position: relative;
    .btn-add {
        float: none;
        position: absolute;
        top: 1em;
        right: 1em;
    }
    .file_download {
        margin-top: 10px;
        li {
            align-items: center;
            >a {
                &[class*="file_"] {
                    flex-grow: 1;
                    align-items: center;
                }
            }
        }
    }
}

.photoBlock {
    position: relative;
    height: 230px;
    width: calc(100% - .6em);
    margin: .3em;
    border-radius: 4px;
    border: 1px solid $color-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: .2s;
    &:hover {
        .edit_grp {
            display: flex;
        }
    }
    .edit_grp {
        display: none;
        position: absolute;
        flex-direction: column;
    }
    .lecturer_photo {
        overflow: hidden;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: $color-gray url(../images/lecturer_photoBg.png) center no-repeat;
        text-align: center;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}