* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
}

// 最外圍預設為100%
.wrapper {
    background: $color-bg;
    width: 100%;
    margin: 0px auto;
    @include screen('mobile') {
        //background: #FFF;
        overflow: hidden;
        overflow-y: auto;
    }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    padding: 0;
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss
}

.main {
    position: relative;
    margin: 0 auto;
    padding-top: 100px;
    @include screen('mobile') {
        padding-top: 60px;
    }
    .container {
        @include screen('tablet') {
            padding: 0 15px;
        }
    }
    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    h2 {
        line-height: 1.25em;
    }
}

.main_content {
    .message {
        display: block;
        text-align: center;
        margin: 50px 0 60px;
        font-size: 1.125em;
        font-weight: bold;
        color: #000;
    }
}

.sort_btnGrp {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), inset 1px 2px 4px rgba(0, 0, 0, 0.1);
    background: #fff;
    .sort_dropDown {
        display: none;
    }
    .container {
        display: flex;
        justify-content: center;
        @include screen('xs_mobile') {
            overflow-x: auto;
            justify-content: flex-start;
            padding: 0;
        }
    }
    .btn-sort {
        position: relative;
        font-size: 1.125em;
        padding: 1em 2.5em;
        margin: 0 1em;
        flex-basis: auto;
        @include btn_setting_nostyle;
        @include screen('tablet') {
            margin: 0;
        }
        @include screen('mobile') {
            padding: 1em;
            white-space: nowrap;
        }
        &:hover,
        &.active {
            color: $color-word2;
            font-weight: bold;
        }
        &.active {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                width: 100%;
                height: 5px;
                background: $lightColor;
            }
        }
    }
}

.cardsWrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2em;
    margin-bottom: 1em;
    @include screen('tablet') {
        padding: 0;
    }
}

.cardItem {
    position: relative;
    display: block;
    margin: 0 1em 2em 1em;
    flex-basis: calc(33.3333% - 2em);
    box-shadow: 1px 2px 5px -1px rgba(0, 0, 0, 0.2);
    border-radius: $rounded-angle;
    overflow: hidden;
    padding: 0 1.5em 1.5em;
    background: #fff;
    transition: .2s ease-in;
    @include screen('tablet') {
        flex-basis: calc(50% - 2em);
    }
    @include screen('mobile') {
        margin: 0 .5em 1em .5em;
        flex-basis: calc(50% - 1em);
    }
    @include screen('xs_mobile') {
        margin: 0 0 1em 0;
        flex-basis: 100%;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 1px 5px 10px -1px rgba(0, 0, 0, 0.15);
    }
    .cardInfoGrp {
        display: flex;
        margin: 0 -1.5em;
        [class^="cardInfo"] {
            flex: 1 1 33.33333%;
            text-align: center;
            padding: .4em .5em;
            color: #fff;
        }
        // 卡片各類屬性
        //付費
        .cardInfo_paid {
            background: $color-paid;
        }
        //免費
        .cardInfo_free {
            background: $color-free;
        }
        //專利
        .cardInfo_patent {
            background: $color-patent;
        }
        //商標
        .cardInfo_trademark {
            background: $color-trademark;
        }
        //著作權
        .cardInfo_copyright {
            background: $color-copyright;
        }
        //營業秘密
        .cardInfo_tradeSecret {
            background: $color-tradeSecret;
        }
        //智財權
        .cardInfo_property {
            background: $color-property;
        }
        //北區
        .cardInfo_north {
            background: $color-north;
        }
        //中區
        .cardInfo_central {
            background: $color-central;
        }
        //東區
        .cardInfo_eastern {
            background: $color-eastern;
        }
        //離島
        .cardInfo_outlying {
            background: $color-outlying;
        }
        //線上活動
        .cardInfo_online {
            background: $color-online;
        }
    }
    .btn-collect {
        position: absolute;
        right: 10px;
        top: 45px;
    }
    .activity_date {
        text-align: center;
        margin-top: 1.5em;
        span {
            display: block;
        }
    }
    .activity_title {
        padding: 0 .5em;
        margin: .4em 0 1em 0;
        font-size: 1.25em;
        font-weight: bold;
        color: $color-word2;
        text-align: center;
        line-height: 1.5em;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 90px;
    }
    .organizer {
        text-align: center;
        color: lighten($color-word, 10);
        font-size: .938em;
        margin: 1em 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .status {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 220px;
        max-width: 100%;
        padding: .6em;
        background: $secondaryColor;
        color: #fff;
        border-radius: 4px;
        transition: .2s ease-in;
        &:hover,
        &:focus {
            background: darken($secondaryColor, 5);
        }
        &.disable {
            background: $color-lightgray;
            color: $color-word;
        }
    }
}

//免費刊登
.free_publication {
    background: #fff;
    padding: .8em 0;
    margin-top: 1em;
    .container {
        display: flex;
        align-items: center;
        @media screen and (max-width: 1200px) {
            padding: 0 15px;
        }
        @include screen('mobile') {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .title {
        position: relative;
        color: $primaryColor;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        &:before {
            content: "";
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(../images/basic/icon_pen.svg) center no-repeat;
            background-size: 22px;
            margin-right: 5px;
        }
    }
    p {
        color: darken($primaryColor, 5);
        padding: 0 1.5em;
        @include screen('mobile') {
            padding: 0;
            margin: .5em 0;
        }
    }
    a {
        flex: 0 0 auto;
        background: $primaryColor;
        border-color: $primaryColor;
        padding: .5em 2em;
        color: #fff;
        transition: .2s ease-in;
        &:hover {
            background: lighten($primaryColor, 10);
            border-color: lighten($primaryColor, 10);
            color: #fff;
        }
    }
}

//進度條
.process_step {
    margin: 2em auto;
    ul {
        @include li-reset;
        display: flex;
        justify-content: center;
        counter-reset: step;
        @include screen('mobile') {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
    li {
        display: flex;
        align-items: center;
        position: relative;
        text-align: center;
        max-width: 250px;
        color: $color-word2;
        padding: 0 75px 0 5px;
        margin-bottom: .5em;
        @include screen('mobile') {
            padding: 0 5px;
        }
        &:before {
            counter-increment: step;
            content: counter(step);
            width: 36px;
            line-height: 36px;
            display: block;
            color: #fff;
            background: #888;
            border-radius: 30px;
            z-index: 1;
            border: 4px solid $color-gray;
            font-weight: bold;
            margin-right: 5px;
        }
        &:not(:last-child):after {
            content: "";
            display: block;
            position: absolute;
            top: 20px;
            right: 5px;
            height: 1px;
            width: 60px;
            background: $color-gray;
            z-index: 0;
            @include screen('mobile') {
                content: none;
            }
        }
        &:nth-child(4):after {
            @include screen('xs_mobile') {
                content: none;
            }
        }
        &.active {
            color: $primaryColor;
            font-weight: bold;
            &:before {
                background: $primaryColor;
                //border-color: lighten($lightColor, 15);
            }
            // &:not(:first-child):after {
            //     background: lighten($lightColor, 15);
            // }
        }
    }
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
    >.container {
        @media screen and (max-width: 1200px) {
            padding: 0 15px;
        }
        &.has_2-col {
            display: flex;
            @include screen('mobile') {
                //flex-direction: column-reverse;
                flex-wrap: wrap;
            }
        }
    }
    .center_block {
        flex-grow: 1;
        flex-basis: calc(100% - 380px);
        //max-width: calc(100% - 380px);
        @include screen('tablet') {
            flex-basis: calc(100% - 340px);
            //max-width: calc(100% - 340px);
        }
        @include screen('mobile') {
            max-width: 100% !important;
        }
    }
    .left_block {
        flex: none;
        flex-basis: 260px;
        max-width: 260px;
        margin-right: 40px;
        &.hidden {
            +.center_block {
                flex: none;
                flex-basis: 100%;
                max-width: 100%;
            }
        }
        +.center_block {
            flex: auto;
            flex-basis: calc(100% - 300px);
            max-width: calc(100% - 300px);
        }
        @include screen('tablet') {
            display: none;
            +.center_block {
                flex: none;
                flex-basis: 100%;
                max-width: 100%;
            }
        }
    }
    .right_block {
        flex: 0 0 340px;
        margin-left: 40px;
        max-width: 340px;
        @include screen('tablet') {
            flex-basis: 300px;
            max-width: 300px;
        }
        @include screen('mobile') {
            flex: 0 1 100%;
            margin-left: 0;
            max-width: 100%;
        }
    }
    &.small_size {
        font-size: .938em;
    }
    &.large_size {
        font-size: 1.125em;
    }
    .title_h2 {
        display: inline-flex;
        align-items: center;
        font-size: 2em;
        color: $color-word2;
        &:before {
            content: "";
            display: inline-block;
            width: 7px;
            height: 32px;
            background: lighten($secondaryColor, 10);
            margin-right: 12px;
        }
    }
}

//內頁 關鍵字查詢
.keyword_search {
    margin: 2em 0;
    float: right;
    .searchBar {
        display: flex;
        align-items: center;
        width: 400px;
        margin: 0 auto;
    }
    label {
        white-space: nowrap;
        margin-right: 5px;
        font-weight: bold;
    }
    input[type="text"] {
        flex: 1 1 auto;
        width: auto;
    }
}

//內頁 額外區塊
.extra_area {
    overflow: hidden;
    padding: 3em 0;
    .container {
        @media screen and (max-width: 1200px) {
            padding: 0 15px;
        }
    }
    .title_h2 {
        margin-bottom: 2em;
        text-align: center;
    }
}

//活動tag
*[class^="acTag_"] {
    display: inline-block;
    font-size: .875em;
    border-radius: 4px;
    background: #666;
    color: #fff;
    padding: .2em 1em;
    margin: 0 .25em .25em 0;
    min-width: 76px;
    text-align: center;
    line-height: 1.6;
}

//專利
.acTag_patent {
    background: $color-patent;
}

//商標
.acTag_trademark {
    background: $color-trademark;
}

//著作權
.acTag_copyright {
    background: $color-copyright;
}

//營業秘密
.acTag_tradeSecret {
    background: $color-tradeSecret;
}

//智財權
.acTag_property {
    background: $color-property;
}

//北區
.acTag_north {
    background: $color-north;
}

//中區
.acTag_central {
    background: $color-central;
}

//東區
.acTag_eastern {
    background: $color-eastern;
}

//離島
.acTag_outlying {
    background: $color-outlying;
}

//線上活動
.acTag_online {
    background: $color-online;
}

.acTag_paid {
    background: $color-paid;
}

.acTag_free {
    background: $color-free;
}

.hidden {
    display: none;
}

.previewBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-red;
    color: #fff;
    padding: 10px 15px;
    font-weight: bold;
    letter-spacing: .05em;
    .btn {
        background: $color-dark;
        border-color: $color-dark;
        color: #fff;
        &:hover {
            background: darken($color-dark, 10);
        }
    }
    &+header {
        top: 60px;
    }
}

//推播通知
.push_notification {
    width: 600px;
    position: fixed;
    top: 30%;
    left: calc(50% - 300px);
    z-index: 999999;
    background: #fff;
    border-radius: 10px;
    padding: 2em;
}

.filterBar {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    align-items: flex-start;
    border-radius: 10px;
    flex-wrap: wrap;
    border-bottom: 1px solid $color-lightgray;
    span {
        white-space: nowrap;
        display: block;
        width: 100%;
        font-size: 1.17em;
        font-weight: bold;
        margin: 1em 0;
    }
    .filterBtnGrp {
        flex: 1 1 calc(100% - 120px);
    }
    .tag-condition {
        position: relative;
        color: #fff;
        text-align: left;
        padding: .2em 1.5em .2em .6em;
        border: none;
        transition: .2s;
        min-width: 108px;
        font-size: .875em;
        margin: 0 .25em .5em .25em;
        &:before {
            content: "";
            position: absolute;
            right: .4em;
            top: calc(50% - 8px);
            width: 16px;
            height: 16px;
            background: url(../images/icon/icon_close2.svg) center no-repeat;
            background-size: 8px;
        }
        &:hover {
            transform: translateY(1px);
        }
    }
    .btn-clean {
        padding: .3em 1.2em;
        flex-shrink: 0;
        white-space: nowrap;
        font-size: .875em;
        margin: 0 .25em .5em .25em;
    }
}

.filter_grp {
    background: #fefffc;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 1em;
}

.history_list {
    ul {
        @include li-reset;
    }
    li {
        position: relative;
        padding: 1.2em 2em;
        background: #fff;
        border-radius: 10px;
        box-shadow: 1px 2px 6px rgba(0, 0, 0, .05);
        margin-bottom: 10px;
        &:last-of-type {
            margin-bottom: 30px;
        }
        time {
            display: block;
            margin: .5em 0;
        }
        .btn-collect {
            position: absolute;
            top: 15px;
            right: 20px;
        }
        .eventTitle {
            font-size: 1.375em;
            color: $color-word2;
            font-weight: bold;
            margin: .5em 0;
            min-height: 3em;
            a {
                color: $color-word2;
                line-height: 1.5em;
                &:hover {
                    color: $aHover;
                }
            }
        }
    }
}